extends ../shared/template/layout/_default

block vars
  -
    var title = 'toggle'

block main
  main
    .test-wrap
      .test-toggle-wrap
        #js-toggle.test-toggle
          .js-line-wrap.test-line-wrap.one
            .js-line.test-line
          .js-line-wrap.test-line-wrap.two
            .js-line.test-line
          .js-line-wrap.test-line-wrap.three
            .js-line.test-line
